@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.jumbo {
  background-image: url("/images/Hosebed Background.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.hero {
  background-image: url("/images/Overhaul.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 1500px;
}

.ventops_hero {
  background-image: url("/images/firetruck-6820125_1280.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
